Multi keys & Nesting Directory

In [ ]:
import datetime

mahasiswa1 = {
    'nama' : 'Ucup Surucup',
    'nim' : '19022001',
    'sks_lulus' : 130,
    'beasiswa' : False,
    'lahir' : datetime.datetime(2001,4,10) # tahun, tanggal, bulan

    # integer di database hanya bisa menampung 11 data, jika depannya 0 maka akan hilang
}
mahasiswa2 = {
    'nama' : 'Azan Maghrib',
    'nim' : '19022002',
    'sks_lulus' : 140,
    'beasiswa' : True,
    'lahir' :datetime.datetime(2002,10,10) # tahun, tanggal, bulan
}
mahasiswa3 = {
    'nama' : 'Slamet Dunia Akhirat',
    'nim' : '19022003',
    'sks_lulus' : 100,
    'beasiswa' : True,
    'lahir' :datetime.datetime(1977,5,10) # tahun, tanggal, bulan
}

data_mahasiswa = {
    'MAH001' : mahasiswa1,
    'MAH002' : mahasiswa2,
    'MAH003' : mahasiswa3,
}

print(f"{'KEY' : <10} {'NAMA' : <22} {'SKS' : <5} {'BEASISWA' : <10} {'LAHIR' : <15}")
print ("-"*60)

for mahasiswa in data_mahasiswa:
  KEY = mahasiswa

  NAMA = data_mahasiswa [KEY] ['nama']
  NIM = data_mahasiswa [KEY] ['nim']
  SKS = data_mahasiswa [KEY] ['sks_lulus']
  BEASISWA = data_mahasiswa [KEY] ['beasiswa']
  LAHIR = data_mahasiswa [KEY] ['lahir'].strftime("%x")

  print(f"{KEY:<10} {NAMA : <22} {SKS : <8} {BEASISWA : <9} {LAHIR : <10}")

KEY        Nama                   SKS   Beasiswa   Lahir
------------------------------------------------------------
MAH001     Ucup Surucup           130      0         04/10/01
MAH002     Azan Maghrib           140      1         10/10/02
MAH003     Slamet Dunia Akhirat   100      1         05/10/77

Latihan Dictionary

In [ ]:
import datetime

mahasiswa_template = {
    'nama' : 'nama',
    'nim' : '0000000000',
    'sks_lulus' : 0,
    'lahir' : datetime.datetime(1111,11,11)
}

data_mahasiswa = {}

print(f"{'SELAMAT DATANG':^20}")
print(f"{'DATA MAHASISWA':^20}")
print("-"*20)

mahasiswa = dict.fromkeys(mahasiswa_template.keys())
print(mahasiswa)

mahasiswa['nama'] = input("Nama Mahasiswa :")
mahasiswa['nim'] = input("NIM Mahasiswa :")
mahasiswa['sks_lulus'] = input("SKS Mahasiswa :")
TAHUN_LAHIR = int(input ("Tahun lahir (YYYY) : "))
BULAN_LAHIR = int(input ("Bulan lahir (1-12) : "))
TANGGAL_LAHIR = int(input ("Tanggal lahir (1-31) : "))
mahasiswa['lahir'] = datetime.datetime(TAHUN_LAHIR, BULAN_LAHIR, TANGGAL_LAHIR)

print(mahasiswa)

   SELAMAT DATANG
   DATA MAHASISWA
--------------------
{'nama': None, 'nim': None, 'sks_lulus': None, 'lahir': None}
Nama Mahasiswa :bagus
NIM Mahasiswa :123
SKS Mahasiswa :123
Tahun lahir (YYYY) : 2006
Bulan lahir (1-12) : 6
Tanggal lahir (1-31) : 9
{'nama': 'bagus', 'nim': '123', 'sks_lulus': '123', 'lahir': datetime.datetime(2006, 6, 9, 0, 0)}

Latihan Terakhir

In [ ]:
import datetime
import random
import string


mahasiswa_template = {
    'nama' : 'nama',
    'nim' : '0000000000',
    'sks_lulus' : 0,
    'lahir' : datetime.datetime(1111,11,11)
}

data_mahasiswa = {}

while True:
  print(f"{'SELAMAT DATANG':^20}")
  print(f"{'DATA MAHASISWA':^20}")
  print("-"*20)

  mahasiswa = dict.fromkeys(mahasiswa_template.keys())
  # print(mahasiswa)

  mahasiswa['nama'] = input("Nama Mahasiswa :")
  mahasiswa['nim'] = input("NIM Mahasiswa :")
  mahasiswa['sks_lulus'] = input("SKS Mahasiswa :")
  TAHUN_LAHIR = int(input ("Tahun lahir (YYYY) : "))
  BULAN_LAHIR = int(input ("Bulan lahir (1-12) : "))
  TANGGAL_LAHIR = int(input ("Tanggal lahir (1-31) : "))
  mahasiswa['lahir'] = datetime.datetime(TAHUN_LAHIR, BULAN_LAHIR, TANGGAL_LAHIR)

  KEY = ''.join((random.choice(string.ascii_uppercase) for i in range (6)))
  data_mahasiswa.update({KEY:mahasiswa})
  print(f"{'KEY':<10} {'NAMA' : <22} {'NIM' : <12} {'SKS Lulus' : <12} {'Tanggal lahir' : <10}")
  print('-'*60)

  for mahasiswa in data_mahasiswa:
    KEY = mahasiswa

    NAMA = data_mahasiswa [KEY] ['nama']
    NIM = data_mahasiswa [KEY] ['nim']
    SKS = data_mahasiswa [KEY] ['sks_lulus']
    LAHIR = data_mahasiswa [KEY] ['lahir'].strftime("%x")

    print(f"{KEY:<10} {NAMA: <22} {NIM : <15} {SKS : <129} {LAHIR : <10}")
  print("\n")
  is_done = input("Mau tambah lagi ga? (y/n)")
  if is_done == "n" :
    break
  print(mahasiswa)

   SELAMAT DATANG
   DATA MAHASISWA
--------------------
Nama Mahasiswa :s
NIM Mahasiswa :02
SKS Mahasiswa :10
Tahun lahir (YYYY) : 2003
Bulan lahir (1-12) : 6
Tanggal lahir (1-31) : 6
KEY        NAMA                   NIM          SKS Lulus    Tanggal lahir
------------------------------------------------------------
IDIDRW     s                      02              10                                                                                                                                06/06/03


Mau tambah lagi ga? (y/n)n